.task-view {
  > .nav-tabs li {
    cursor: pointer;
  }

  > .tab-content > .tab-pane {
    padding-top: 20px;
  }
}

.task-view > .nav-tabs li {
  cursor: pointer;
}

.task-view > .tab-content > .tab-pane {
  padding-top: 20px;
}